@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url("../../images/car1.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 65%;
margin-top: auto;
margin-bottom: auto;
width: 60%;
background-color: rgba(0,0,0,0.5)
}

.card-header h3{
margin-top: 10px;
color: white;
align-content: center;
}

.card-body h4{
margin-top: 20px;
color: whitesmoke;    
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:#212529;
	color: white;
	text-align: center;
  }

.footer p{
margin: 0px ;
font-size: 0.7rem;
}
